/* ==|====================
   Mixin/Mixin Typography
   ======================= */

	/** Mixin font */
   @mixin font($font-family,$font-size,$font-weight,$margin-top,$margin-bottom){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
} 