/* ==|====================
   Base/app
   ======================= */

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {

}
body {
  // font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  // color: #444;
  // transition: all .4s .3s ease-in;
}
body,html{
	// min-height: 100vh;
	// overflow: visible;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}