/* ==|====================
   Layout
   ======================= */

// Layout for sticky footer
// Add the .sticky-footer class to <html>

.sticky-footer{
    position: relative;
    min-height: 100%;

    body {
        margin-bottom: $sticky_size;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $sticky_size;
    }
}