 /* ==|====================
   Module/Typography
   ======================= */
   @font-face {
  font-family: 'Font-Name';
  src: url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
       url('../fonts/font-name.woff') format('woff'),
       url('../fonts/font-name.ttf') format('truetype'),
       url('../fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}

	// $primary-title: 		3.125em; //50pt

	// $secondary-title: 		2.8125em; //45pt	

	// $tertiary-title: 		2.5em; //40pt

	// $quaternary-title : 	2.1875em; //35pt

	// $quinary-title: 		1.25em; //20pt

	// $paragraphe :			0.875em; //14pt 

	// .h1 { 
	// 	@include font($roboto,$secondary-title,'normal',0px,10px);
	// }

	// .h2 { 
	// 	@include font($heldustry-thin,$secondary-title,'normal',15px,15px);
	// }

	// .h3 { 
	// 	@include font($heldustry-thin,$tertiary-title,'normal',0px,15px);
	// }

	// .h4 { 
	// 	@include font($heldustry-regular,$quaternary-title,'normal',0px,5px);
	// }

	// .h5 { 
	// 	@include font($roboto,$quinary-title,'normal',0px,15px);
	// 	color:$black;
	// } 

	// .h5-underline {
	// 	@extend.h5;
	// 	padding-bottom:5px !important;
	// 	border-bottom:1px solid $green!important;

	// 	color:$black !important;
	// }

	// .h6 { 
	// 	@include font($heldustry-regular,$quinary-title,'normal',20px,15px);
	// } 

