 /* ==|====================
   Module/Wysiwyg
   ======================= */


	// Font family
	// $primary-font:			;
	// $secondary-font:			;
	// $tertiary-font:			;
	// $quaternary-font:		;

	// // Font size
	// $primary-title:			3.75em;  // 60pt
	// $secondary-title:		3.125em; // 50pt
	// $tertiary-title:		2.5em;   // 40pt
	// $quaternary-title:		1.875em; // 30pt
	// $quinary-title:			1.25em;  // 20pt

	// $paragraphe : 			1em;     // 16pt

	// // Color
	// $primary-color:			#959595;
	// $secondary-color:		#252525;
	// $tertiary-color:		#ec3744; 

 //   .wysiwyg {

	// h1 {
	// 	font-family: $primary-font;
	// 	font-size: $primary-title;
	// 	color:$secondary-color;
	// } 

	// h2 {
	// 	font-family: $primary-font;	
	// 	font-size: $secondary-title;
	// 	color:$secondary-color;
	// }

	// h3 {
	// 	font-family: $primary-font;	
	// 	font-size: $tertiary-title;
	// 	color:$secondary-color;
	// }

	// h4 {
	// 	font-family: $secondary-font;
	// 	font-size: $quaternary-title;
	// 	color: $secondary-color
	// }

	// h5 {
	// 	font-family: $secondary-font;
	// 	font-size: $quinary-title;
	// 	color: $secondary-color
	// }

	// p {
	// 	// font-family: $helvetica;
	// 	font-size: $paragraphe;
	// 	color:$primary-color;
	// }

	// a {
	// 	font-family: $tertiary-title;
	// 	font-weight: bold;
	// 	color:$tertiary-color;
	// 	&:hover {
	// 		text-decoration:underline;
	// 	}
	// }

	// img {
	// 	max-width:100%; 
	// 	height: auto;
	// }

	// strong {
		
	// 	font-weight: bold;
	// 	color:$secondary-color;	
	// }

	// i,em {
	// 	// font-family:;
	// 	font-style: italic;
	// 	color:$primary-color;
	// }

	// del {

	// }
 
	// pre {

	// }

	// figure {
	// 	max-width:100%;
	// 	border: none;
	// 	border-bottom: 1px solid #cecece;
	// 	img {
	// 		height:auto;		
	// 	}	
	// }
	
  
	// legend,figcaption {
	// 	// font-family: ;
	// 	font-size: 0.8125em; 
	// 	font-weight: 100;  
	// 	color:$primary-color;

	// 	padding-left: 0;
	// }

	// ul,ol {
	// 	margin:10px 0;
	// 	// font-family:;
	// 	font-size: $paragraphe;
	// 	color:$primary-color;
	// }

	// blockquote {
	// 	border-left: 3px solid $tertiary-color;
	// 	p {
	// 		// color:;
	// 	}
	// }

	// iframe {
	// 	width:100%;
	// }

 //   }